body {
  background: #fafafa;
  background: #f8f8f2;
  color: #333333;
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.account-sm {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}
.account-md {
  height: 90px;
  width: 90px;
}
.account-lg {
  height: 120px;
  width: 120px;
}
.icon-sm {
  height: 60px;
  width: 60px;
}
.icon-md {
  height: 120px;
  width: 120px;
}
.rip {
  height: 300px;
  width: 300px;
}
.show-down {
  height: 100px;
  width: 100px;
}
.winner {
  height: 300px;
  width: 300px;
}
.red-border{
  border: 2px solid red;
}
.green-border{
  border: 2px solid green;
}
th.no-wrap {
    white-space: nowrap;
}
td.no-wrap {
    white-space: nowrap;
}
tr.no-wrap {
    white-space: nowrap;
}

.table-row{
cursor:pointer;
}
img.flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
