{% extends 'ssa/base.html' %}
{% block title%}Secret Santa Assassin{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'ssa/main.css' %}">
{% if user.is_authenticated %}

{% load ssa_extras %}

<style>
    .my-container{
        border: 2px solid black;
    }
    .my-row{
        height: 300px;
    }
    .col-l{
    }
    .col-t{
    }
    .r-sm{
        height: 30px;
    }
    .r-lg{
        height: 300px;
    }
    .games-cont{
        border: 2px solid black;
    }
</style>



<form action="" style="margin-top:30px;">
    <div class="form-group">
        <div class="row">
            <div class="col">
                <label for="username">Username</label>
            </div>
            <div class="col">
                <input type="text" name="username" id="username" class="form-control">
            </div>
        </div>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" class="form-control">
    </div>
    <select name="game" id="game" class="form-control">
        <option value="1">Game 1</option>
        <option value="2">Game 2</option>
    </select>
    <div class="form-check">
        <input type="checkbox" id="accept-terms" class="form-check-input">
        <label for="accept-terms" class="form-check-label">Accept terms &amp; conditions</label>
    </div>
</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <div class="center">
                <img class="rounded-circle account-md" src="{{ user.profile.image.url }}">
                <img src="/media/icons/gun.svg" class="icon-sm">
                <img class="rounded-circle account-md" src="{{ user.profile.image.url }}">
            </div>
        </div>
    </div>
</div>

<!--
<div class="container" style="justify-content: space-between; margin-top: 30px;">
    <div class="container my-container">
        <div class="row r-sm">
            <div class="col-5 col-l">Join Game:</div>
            <div class="col-6 col-t"></div>
        </div>
        <div class="row r-sm">
            <div class="col-5 col-l">
                <input class="btn btn-default">Create Game:</input>
            </div>
            <div class="col-6 col-t"></div>
        </div>
        <div class="row r-sm">
            <div class="col-5 col-l">How to Play</div>
            <div class="col-6 col-t"></div>
        </div>
    </div>
    <div class="row r-sm" style="margin-top: 15px;">
        <div class="col col-l">Your Games</div>
    </div>
    <div class="container games-cont">
        <div class="row r-lg">
            <div class="col col-l">gamestuff</div>
        </div>

    </div>
</div>
-->




<!--
<div class="container my-container">
    <div class="row my-row">
        <div class="container">
            <div class="button">test</div>
            <form action="/ssa/game/1" method="get">
                <input type="submit" value="Join Game:">
                <input type="text" id="game_id" name="game_id">
            </form>
            <br/>

            <form action="/ssa/game/1" method="get">
                <input type="submit" value="Create Game">
            </form>
            <br/>
            <form action="/ssa/game/1" method="get">
                <input type="submit" value="How to Play">
            </form>
            <br/>

        </div>
    </div>
    <div class="row my-row">
        <div class="col my-col">Col1</div>
        <div class="col my-col">Col2</div>
    </div>
</div>

-->



{% else %}
<h2>Please Login</h2>
{% endif %}
{% endblock %}
