{% extends 'ssa/base.html' %}
{% block title%}Player{% endblock %}
{% block content %}
{% load ssa_extras %}

<br/>
<div class="container">
    <div class="row justify-content-center">
        <h2>
            <span class="badge badge-primary">{{ user|get_display_name }}</span>
        </h2>
    </div>
    <div class="row justify-content-center">
        <img class="rounded-circle account-lg" src="{{ user.profile.image.url }}">
    </div>
</div>
<div class="container">
    <div class="row">
        <h1>My Games</h1>
    </div>
    <div class="row rounded border border-secondary" style="min-height: 300px; border-width: 10px;">
        <div class="table-responsive rounded">
            <table class='table table-dark table-condensed table-striped table-hover'>
                <tr>
                    <th class="no-wrap" scope="col">ID</th>
                    <th class="no-wrap" scope="col">Name</th>
                    <th class="no-wrap" scope="col">Status</th>
                    <th class="no-wrap" scope="col"># Players</th>
                    <th class="no-wrap" scope="col"># Active</th>
                    <th class="no-wrap" scope="col">Activate</th>
                </tr>
                {% for game in object_list %}
                    {% if user in game.users.all %}
                    <tr class="table-row" data-href="{% url 'player-detail' game.id %}">
                        <th scope="row">{{game.id}}</th>
                        <td class="no-wrap" >{{game.get_name}}</td>
                        <td class="no-wrap" >{{game.get_state}}</td>
                        <td class="no-wrap">{{game.get_user_count}}</td>
                        <td class="no-wrap">{{game.get_active_player_count}}</td>
                        <td class="no-wrap">
                            {% if game.get_state == constants.GAME_STATE_PENDING %}
                            <form method="post">
                                {% csrf_token %}
                                <button name="{{constants.FORM_START_GAME}}" type="submit" class="btn btn-success">Start</button>
                                <input type="hidden" id="game_id" name="game_id" value="{{game.id}}">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
             </table>
        </div>

    </div>

</div>
<script>
$(document).ready(function($) {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}