{% extends 'ssa/base.html' %}
{% block title%}Player{% endblock %}
{% block content %}
{% load ssa_extras %}

{% if user.is_authenticated %}
{% with player=user|get_player:game.id %}

<br/>
<div class="row justify-content-center">
    <h1>
      {{player.get_name}}
    </h1>
</div>
<div class="row justify-content-center">
  <img class="rounded-circle account-lg" src="{{ player|get_player_icon }}">
</div>
<div class="row justify-content-center">
  <h3>
    {% if player.status == "Alive" %}
    <span class="badge badge-success">{{player.status}}</span>
    {% else %}
    <span class="badge badge-danger">{{player.status}}</span>
    {% endif %}
  </h3>
</div>
<br/>
<br/>
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center ">
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
      <h3>
        <span class="badge badge-primary">{{player.get_name}}</span>
      </h3>
    </div>
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
    </div>
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
        <h3>
          {% if player.target.status == "Alive" %}
          <span class="badge badge-primary">{{player.target.get_name}}</span>
          {% else %}
          <span class="badge badge-danger">{{player.target.get_name}}</span>
          {% endif %}
        </h3>
    </div>
  </div>
  <div class="row h-100 justify-content-center align-items-center ">
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
      <img id="player-pic" class="rounded-circle account-md" src="{{ player|get_player_icon }}">
    </div>
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
      <img src="/media/icons/gun.svg" class="icon-sm">
    </div>
    <div class="pl-0 pr-0 col d-flex justify-content-center col-md-2">
      <img id="target-pic" class="rounded-circle account-md play" src="{{ player.target|get_player_icon }}"/>
    </div>
  </div>
  <br/>
  <br/>
    <div class="row justify-content-center align-items-center">
      <div class="col d-flex justify-content-center">
        <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">
          <b>Target Assassinated</b>
        </button>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirm Assassination?</p>
        <p>Your target will be notified of your assassination for confirmation.</p>
      </div>
      <div class="modal-footer">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
      </div>
    </div>
  </div>
</div>


<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endwith %}
{% else %}
<h1>Please Authenticate</h1>
{% endif %}

{% endblock %}
